<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.CA53CB01-B188-4C15-936F-391236F09084</string>
	<key>darkthemeuid</key>
	<string>theme.fileimport.48886BEF-FF7E-47F6-96A8-59E49F3F2404</string>
</dict>
</plist>
