<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>03B2EB62-41A0-4DC6-8D78-90883D1E11E6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ivmpr</string>
			<key>text</key>
			<string>IVM Pull Requests</string>
			<key>url</key>
			<string>https://internationalvending.visualstudio.com/IVM-SmartHub/_git/ivm-smarthub/pullrequests?_a=mine</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>20EE9FD8-DB58-41CD-ABD1-0451671C7519</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fserv</string>
			<key>text</key>
			<string>Accounts - FORCE</string>
			<key>url</key>
			<string>https://forcecats.atlassian.net/wiki/spaces/DEV/pages/140607662/Servers+Domains+Software+Online+Accounts</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>30AD2AC9-C6B7-4AB3-B234-C6920093165E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ivm</string>
			<key>text</key>
			<string>Open IVM Azure DevOps</string>
			<key>url</key>
			<string>https://internationalvending.visualstudio.com/IVM-SmartHub/_boards/board/t/IVM-SmartHub%20Team/Backlog%20items</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>547E31D8-C65E-4BDB-9DD3-3244F6DE9ED6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>clubhouse</string>
			<key>text</key>
			<string>ClubHouse | Qumulex</string>
			<key>url</key>
			<string>https://app.clubhouse.io/qumulex/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>54CEBB0A-2C8D-4D9B-A679-E8A6CB177151</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mr</string>
			<key>text</key>
			<string>qx-client Merge Requests</string>
			<key>url</key>
			<string>https://gitlab.qumulex.io/qx-all/qx-client/-/merge_requests</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7BB72957-09A0-4822-9335-C0DDAECCE3DC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bl</string>
			<key>text</key>
			<string>JIRA Backlog</string>
			<key>url</key>
			<string>https://forcecats.atlassian.net/secure/RapidBoard.jspa?rapidView=34&amp;view=planning</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>844A20F9-25F7-4B40-AA9B-C268ACEF940B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>JIRA - Master Development Board</string>
			<key>url</key>
			<string>https://forcecats.atlassian.net/secure/RapidBoard.jspa?rapidView=34</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8E423865-235B-49C3-9E58-D5426EF1220D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>expenses</string>
			<key>text</key>
			<string>Budget and Expenses - Google Drive</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/d/1XwTi39pNc1bysusiPdYCe5F--l3qCD3rRRLzoAmPPo0/edit</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9DBA4140-A597-41B1-ABA0-37430BC596FB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>conf</string>
			<key>text</key>
			<string>Confluence</string>
			<key>url</key>
			<string>https://forcecats.atlassian.net/wiki/spaces/~cjohnson/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A05BD80B-A627-4176-B334-F35798C5C183</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>outlook</string>
			<key>text</key>
			<string>Outlook Calendar</string>
			<key>url</key>
			<string>https://outlook.office.com/owa/?path=/calendar/view/Week</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BF5DFBAE-4986-484F-85DA-66740A361DFE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fm</string>
			<key>text</key>
			<string>Facebook Messenger</string>
			<key>url</key>
			<string>https://www.facebook.com/messages/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FA39B56D-477E-432A-80B9-007247CFB86C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>openair</string>
			<key>text</key>
			<string>OpenAir</string>
			<key>url</key>
			<string>https://www.openair.com/index.pl</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FB3A361D-D27D-4EFF-A80A-03FDB971F97D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eblast</string>
			<key>text</key>
			<string>eBlast | forcebook.io</string>
			<key>url</key>
			<string>https://forcebook.io/eblast</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FCA19665-2671-490A-BCA3-8E579A6C6386</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>forge</string>
			<key>text</key>
			<string>Forge Server Management</string>
			<key>url</key>
			<string>https://forge.laravel.com/servers</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
